--
-- PostgreSQL database dump
--

-- Dumped from database version 15.4 (Debian 15.4-1.pgdg110+1)
-- Dumped by pg_dump version 15.4 (Debian 15.4-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: tiger; Type: SCHEMA; Schema: -; Owner: admin
--

CREATE SCHEMA tiger;


ALTER SCHEMA tiger OWNER TO admin;

--
-- Name: tiger_data; Type: SCHEMA; Schema: -; Owner: admin
--

CREATE SCHEMA tiger_data;


ALTER SCHEMA tiger_data OWNER TO admin;

--
-- Name: topology; Type: SCHEMA; Schema: -; Owner: admin
--

CREATE SCHEMA topology;


ALTER SCHEMA topology OWNER TO admin;

--
-- Name: SCHEMA topology; Type: COMMENT; Schema: -; Owner: admin
--

COMMENT ON SCHEMA topology IS 'PostGIS Topology schema';


--
-- Name: fuzzystrmatch; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS fuzzystrmatch WITH SCHEMA public;


--
-- Name: EXTENSION fuzzystrmatch; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION fuzzystrmatch IS 'determine similarities and distance between strings';


--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


--
-- Name: postgis_tiger_geocoder; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_tiger_geocoder WITH SCHEMA tiger;


--
-- Name: EXTENSION postgis_tiger_geocoder; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_tiger_geocoder IS 'PostGIS tiger geocoder and reverse geocoder';


--
-- Name: postgis_topology; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_topology WITH SCHEMA topology;


--
-- Name: EXTENSION postgis_topology; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_topology IS 'PostGIS topology spatial types and functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: canal_area; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.canal_area (
    id integer NOT NULL,
    name character varying(100),
    geom public.geometry(Polygon,4326)
);


ALTER TABLE public.canal_area OWNER TO admin;

--
-- Name: canal_area_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.canal_area_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.canal_area_id_seq OWNER TO admin;

--
-- Name: canal_area_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.canal_area_id_seq OWNED BY public.canal_area.id;


--
-- Name: position_reports; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.position_reports (
    id integer NOT NULL,
    mmsi character varying(20) NOT NULL,
    canal_area_id integer,
    latitude double precision NOT NULL,
    longitude double precision NOT NULL,
    speed double precision,
    course double precision,
    report_time timestamp without time zone,
    geom public.geometry(Point,4326) GENERATED ALWAYS AS (public.st_setsrid(public.st_makepoint(longitude, latitude), 4326)) STORED
);


ALTER TABLE public.position_reports OWNER TO admin;

--
-- Name: position_reports_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.position_reports_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.position_reports_id_seq OWNER TO admin;

--
-- Name: position_reports_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.position_reports_id_seq OWNED BY public.position_reports.id;


--
-- Name: ships; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.ships (
    mmsi character varying(20) NOT NULL,
    name character varying(100),
    imo character varying(20),
    ship_type character varying(50),
    flag character varying(50)
);


ALTER TABLE public.ships OWNER TO admin;

--
-- Name: canal_area id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.canal_area ALTER COLUMN id SET DEFAULT nextval('public.canal_area_id_seq'::regclass);


--
-- Name: position_reports id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.position_reports ALTER COLUMN id SET DEFAULT nextval('public.position_reports_id_seq'::regclass);


--
-- Data for Name: canal_area; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.canal_area (id, name, geom) FROM stdin;
\.


--
-- Data for Name: position_reports; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.position_reports (id, mmsi, canal_area_id, latitude, longitude, speed, course, report_time) FROM stdin;
1	235082896	\N	8.814065	-79.56306833333333	7.4	116.6	2026-07-18 23:00:14.794567
\.


--
-- Data for Name: ships; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.ships (mmsi, name, imo, ship_type, flag) FROM stdin;
235082896	\N	\N	\N	\N
\.


--
-- Data for Name: spatial_ref_sys; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.spatial_ref_sys (srid, auth_name, auth_srid, srtext, proj4text) FROM stdin;
\.


--
-- Data for Name: geocode_settings; Type: TABLE DATA; Schema: tiger; Owner: admin
--

COPY tiger.geocode_settings (name, setting, unit, category, short_desc) FROM stdin;
\.


--
-- Data for Name: pagc_gaz; Type: TABLE DATA; Schema: tiger; Owner: admin
--

COPY tiger.pagc_gaz (id, seq, word, stdword, token, is_custom) FROM stdin;
\.


--
-- Data for Name: pagc_lex; Type: TABLE DATA; Schema: tiger; Owner: admin
--

COPY tiger.pagc_lex (id, seq, word, stdword, token, is_custom) FROM stdin;
\.


--
-- Data for Name: pagc_rules; Type: TABLE DATA; Schema: tiger; Owner: admin
--

COPY tiger.pagc_rules (id, rule, is_custom) FROM stdin;
\.


--
-- Data for Name: topology; Type: TABLE DATA; Schema: topology; Owner: admin
--

COPY topology.topology (id, name, srid, "precision", hasz) FROM stdin;
\.


--
-- Data for Name: layer; Type: TABLE DATA; Schema: topology; Owner: admin
--

COPY topology.layer (topology_id, layer_id, schema_name, table_name, feature_column, feature_type, level, child_id) FROM stdin;
\.


--
-- Name: canal_area_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.canal_area_id_seq', 1, false);


--
-- Name: position_reports_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.position_reports_id_seq', 1, true);


--
-- Name: topology_id_seq; Type: SEQUENCE SET; Schema: topology; Owner: admin
--

SELECT pg_catalog.setval('topology.topology_id_seq', 1, false);


--
-- Name: canal_area canal_area_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.canal_area
    ADD CONSTRAINT canal_area_pkey PRIMARY KEY (id);


--
-- Name: position_reports position_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.position_reports
    ADD CONSTRAINT position_reports_pkey PRIMARY KEY (id);


--
-- Name: ships ships_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.ships
    ADD CONSTRAINT ships_pkey PRIMARY KEY (mmsi);


--
-- Name: position_reports fk_canal; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.position_reports
    ADD CONSTRAINT fk_canal FOREIGN KEY (canal_area_id) REFERENCES public.canal_area(id);


--
-- Name: position_reports fk_ship; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.position_reports
    ADD CONSTRAINT fk_ship FOREIGN KEY (mmsi) REFERENCES public.ships(mmsi);


--
-- PostgreSQL database dump complete
--

